!!!
%html
  %head
    != '<link href="/favicon.ico" rel="icon" type="image/x-icon" />'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Legal Bacon | Where the Law Becomes Digestable"
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body.pad{"data-spy" => "scroll", "data-target" => "#sidebar"}
 
    %div.pad-around.navbar.navbar-fixed-top
      %div.navbar-inner
        %a.brand{href: "/"}="Legal Bacon"
        %ul.in-line.unstyled
          -if @navbar_links
            -@navbar_links.each do |nav_item|
              %li
                %a{href: nav_item[:url]}
                  %h4=nav_item[:text]


    %div=yield
  %footer